@font-face {
  font-family: 'AmericanCaptain';
  src: url(../fonts/American_Captain.otf);
  src: url(../fonts/American_Captain.otf);
  font-weight: 400;
}

body {
  margin: 0;
}

.podvigi {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-color: black;
  margin: 0;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: 'AmericanCaptain';
  text-transform: uppercase;
  text-align: center;
  color: #FABF5B;
  font-weight: 400;
  font-size: 60px;
}

.text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  font-weight: 400;
}

.span__main {
  color: #FABF5B;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .title {
    font-size: 45px;
  }
}

.image {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
}

.popup_img {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 90%;
  width: 100%;
}

.popup_img {
  pointer-events: none;
}

.header {
  padding-top: 280px;
  padding-bottom: 3%;
  margin-bottom: 321px;
  background-image: url(../images/header/bg__header.png);
  background-size: cover;
}

.header__text {
  text-align: center;
}

@media (max-width: 1440px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo__img {
    width: 80%;
  }
}

@media (max-width: 769px) {
  .logo__img {
    margin-bottom: 130px;
  }
}

@media (max-width: 500px) {
  .logo__img {
    width: 90%;
  }
  .header__text {
    font-size: 20px;
  }
}

.tasks {
  background-image: url(../images/tasks/dym.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 44%;
  margin-top: -49%;
  padding-bottom: 35%;
  margin-bottom: -32%;
}

@media (min-width: 1921px) {
  .tasks {
    padding-top: 49%;
  }
}

@media (max-width: 1440px) {
  .tasks {
    padding-top: 36%;
  }
}

@media (max-width: 769px) {
  .tasks {
    margin-top: -55%;
    padding-top: 22%;
  }
}

@media (max-width: 500px) {
  .tasks {
    margin-top: -62%;
    padding-top: 4%;
  }
  .tasks__content {
    margin-top: -30%;
  }
}

.tasks__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks__img {
  max-width: 583px;
  margin-top: 5%;
  margin-bottom: 200px;
}

.tasks__text {
  max-width: 780px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .tasks__img {
    max-width: 121%;
    margin-top: 5%;
    margin-bottom: 200px;
  }
}

.section__slider1 {
  margin-bottom: 200px;
}

.slider1 {
  max-width: 1734px;
  margin: 0 auto;
}

.slider__item {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  padding: 10px;
  cursor: pointer;
}

.slider1__item:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.slider1__item-img {
  margin: 0 auto;
}

.slick-prev,
.slick-next {
  position: absolute;
  color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  top: 105%;
  cursor: pointer;
}

.slick-prev {
  background-image: url(../images/arrows/arrow-left.svg);
  left: 48%;
}

.slick-next {
  background-image: url(../images/arrows/arrow-right.svg);
  right: 45.4%;
}

@media (max-width: 769px) {
  .slider1 .slick-prev {
    left: 42%;
  }
  .slider1 .slick-next {
    right: 38%;
  }
}

@media (max-width: 500px) {
  .section__slider1 {
    margin-bottom: 100px;
  }
  .slider1 .slick-next {
    right: 36%;
  }
}

.portraits {
  margin-bottom: 200px;
}

.portraits__inner {
  margin-bottom: 200px;
}

.podhod__text {
  max-width: 780px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .portraits {
    margin-bottom: 100px;
  }
  .portraits__inner {
    margin-bottom: 100px;
  }
}

.desicion {
  margin-bottom: 40px;
}

.desicion__content {
  max-width: 780px;
  margin: 0 auto;
}

.desicion__item-title {
  margin-bottom: 0;
}

.desicion__item-text {
  margin-top: 10px;
}

@media (max-width: 375px) {
  .span__main {
    font-size: 19px;
  }
}

.section__slider2 {
  margin-bottom: 200px;
}

.slider2 {
  max-width: 1735px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.slider2 .slick-prev {
  left: 46%;
}

.slider2 .slick-next {
  right: 46%;
}

.slider2__item:hover {
  -webkit-transform: scale(107%);
          transform: scale(107%);
}

@media (max-width: 1441px) {
  .slider2 .slick-prev {
    left: 46%;
  }
  .slider2 .slick-next {
    right: 44.2%;
  }
}

@media (max-width: 769px) {
  .slider2 .slick-prev {
    left: 42%;
  }
  .slider2 .slick-next {
    right: 38%;
  }
}

@media (max-width: 500px) {
  .section__slider2 {
    margin-bottom: 100px;
  }
  .slider2 .slick-next {
    right: 36%;
  }
}

.why {
  margin-bottom: 200px;
}

.why__text {
  max-width: 780px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .why {
    margin-bottom: 100px;
  }
}

.stories {
  margin-bottom: 200px;
}

.stories__inner {
  max-width: 780px;
  margin: 0 auto;
}

.stories__slider {
  max-width: 733px;
  margin: 0 auto;
}

.stories__slider .slick-prev {
  left: 40%;
}

.stories__slider .slick-next {
  right: 40%;
}

.stories__slider-img:focus {
  -webkit-transform: scale(150%);
          transform: scale(150%);
}

.stories__slider-img {
  width: 100%;
  height: 100%;
}

@media (max-width: 769px) {
  .stories__slider-img {
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .stories {
    margin-bottom: 100px;
  }
  .stories__slider .slick-next {
    right: 34%;
  }
}

.examples {
  margin-bottom: 200px;
}

.stories__slider2 {
  max-width: 780px;
}

.stories__slider2 .slick-prev {
  left: 45%;
}

.stories__slider2 .slick-next {
  right: 34%;
}

@media (max-width: 500px) {
  .examples {
    margin-bottom: 100px;
  }
}

.result {
  margin-bottom: 200px;
}

.result__text {
  max-width: 780px;
  margin: 0 auto;
}

.result__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result__item-title {
  font-size: 88px;
  margin-bottom: 0;
}

.result__item-text {
  margin-top: 10px;
}

@media (max-width: 1025px) {
  .result__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .result__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 600px) {
  .result__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 500px) {
  .result {
    margin-bottom: 100px;
  }
  .result__content {
    margin-top: 40px;
  }
  .result__content h2 {
    margin: 0;
  }
}

.success {
  margin-bottom: 200px;
}

.success__inner {
  max-width: 780px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .success {
    margin-bottom: 100px;
  }
}

.opinion {
  margin-bottom: 200px;
}

.opinion__title {
  max-width: 780px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.opinion__text {
  text-align: center;
}

.opinion__footer-text {
  font-size: 20px;
  font-weight: 300;
  color: gray;
  text-align: center;
}

@media (max-width: 500px) {
  .opinion {
    margin-bottom: 100px;
  }
}

.client {
  margin-bottom: 200px;
}

@media (max-width: 500px) {
  .br__client {
    display: none;
  }
}

.footer {
  padding-bottom: 200px;
  background-image: url(../images/footer/bg__footer.png);
  background-size: cover;
  background-position: bottom;
}

.footer__inner {
  margin-bottom: 200px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item2 {
  margin-right: 20px;
}

.fooer__item-title {
  font-family: 'AmericanCaptain';
  text-transform: uppercase;
  font-size: 40px;
  color: #FABF5B;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
}

.footer__item-text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}

.footer__video video {
  width: 100%;
  height: 100%;
}

@media (max-width: 1130px) {
  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__item {
    width: 33%;
  }
}

@media (max-width: 500px) {
  .footer__item {
    width: 50%;
  }
  .fooer__item-title {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .footer__item-img {
    width: 80%;
  }
}

@media (max-width: 500px) {
  br {
    display: none;
  }
}
